name = "oauth-server"
compatibility_date = "2023-12-01"


kv_namespaces = [
  # wrangler kv:namespace create DATASTORE
  { binding = "DATASTORE", id = "FIXME" }
]

[vars]
VAULT_ADDR=
VAULT_NAMESPACE=
VAULT_ROLE_ID=
VAULT_SECRET_ID=

